@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 welcome">Welcome to FilmForge</h1>
    <p class="typing-effect">Your gateway to managing your favorite movies. Start exploring!</p>
</div>
